.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  float: center;
}
.centerAlign{
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.aBox{
  margin:2px;
  height:50px;
  width:50px;
  background-color: rgb(219, 93, 93);
  transition: .1s ease-in-out;
  border-radius: 3px; 
}
.smallBox {
  margin:2px;
  height:50px;
  width:50px;
  background-color: rgb(219, 93, 93);
  transition: .1s ease-in-out;
  border-radius: 3px; 
}
.aBox:hover{
  background-color: rgb(165, 70, 70);
}
.allBox{
  /* display: flex; */
  margin:none;
}
.nineBox{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between;   */
}

.complete{
  display: flex;
  flex-wrap: wrap;
  width: 490px;
}

.selectNro {
  display: inline-block;
  display: flex;
  margin-top: 20px;
}