.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  float: center;
}
.centerAlign {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
.aBox {
  height: 50px;
  width: 50px;
  background-color: rgb(147, 194, 216);
  transition: 0.1s ease-in-out;
  border-radius: 3px;
  border: rgb(83, 142, 160) solid 1px;
}
.aBox:nth-child(10) {
  border-right: black solid 3px;
}
.smallBox {
  height: 50px;
  width: 50px;
  background-color: rgb(147, 194, 216);
  transition: 0.1s ease-in-out;
  border-radius: 3px;
  border: rgb(83, 142, 160) solid 1px;
}
.aBox:hover,
.smallBox:hover {
  background-color: rgb(83, 142, 160);
}
.allBox {
  /* display: flex; */
  margin: none;
}
.nineBox {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between;   */
}
.nineBox:nth-child(3),
.nineBox:nth-child(6) {
  border-bottom: black solid 3px;
}
.complete {
  display: flex;
  flex-wrap: wrap;
  width: 490px;
}
.selectNro {
  display: flex;
  margin-right: 23px;
  margin-top: 20px;
}
.dummyDiv {
  border-left: black solid 3px;
  position: absolute;
  height: 50px;
  top: 0;
}
.dummyDivParent {
  position: relative;
}
.blockBox {
  background-color: rgb(162, 186, 194);
}
.currentBox {
  background-color: rgb(83, 142, 160);
}
